<mat-card>
  <mat-card-title>Novo Produto</mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Descrição"
        [(ngModel)]="produto.descricao"
        name="descricao"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tipo de Produto</mat-label>
      <mat-select [(ngModel)]="produto.tipoProduto" name="tipoProduto">
        <mat-option
          *ngFor="let tipoProduto of tiposProduto"
          [value]="tipoProduto"
        >
          {{ tipoProduto.toLocaleUpperCase() }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Quantidade em estoque"
        [(ngModel)]="produto.quantidadeEmEstoque"
        name="quantidadeEmEstoque"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Preço (R$)"
        [(ngModel)]="produto.valorNoFornecedor"
        name="valorNoFornecedor"
      />
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="createProduct()" color="primary">
    Salvar
  </button>

  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
