<mat-card *ngIf="produtos">
  <mat-card-title>Movimentação</mat-card-title>

  <form [formGroup]="movimentacaoFormGroup">
    <mat-form-field>
      <mat-label>Produto</mat-label>
      <mat-select formControlName="produto">
        <mat-option *ngFor="let produto of produtos" [value]="produto.id">
          {{ produto.descricao }}
        </mat-option>
      </mat-select>

      <mat-error
        *ngIf="movimentacaoFormGroup.controls['produto'].hasError('required')"
      >
        Choose an Option
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo de movimentação</mat-label>
      <mat-select formControlName="tipoMovimentacao">
        <mat-option
          *ngFor="let movimentacao of tipoMovimentacaoTxt"
          [value]="movimentacao"
        >
          {{ movimentacao.toUpperCase() }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="valorDaMovimentacao"
        matInput
        placeholder="Valor da movimentação (R$)"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="quantidadeMovimentada"
        matInput
        placeholder="Quantidade de Produto(s) movimentado(s) "
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data da Movimentação</mat-label>
      <input
        formControlName="dataDaMovimentacao"
        matInput
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="actions">
      <button
        mat-raised-button
        (click)="finalizarMovimentacao()"
        color="primary"
        submit
      >
        Finalizar Movimentação
      </button>

      <button mat-raised-button (click)="cancel()">Cancelar</button>
    </div>
  </form>
</mat-card>

<mat-card>
  <h1>Movimentações realizadas</h1>

  <div *ngIf="movimentacoes.length > 0">
    <table mat-table [dataSource]="movimentacoes">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição do Produto</th>
        <td mat-cell *matCellDef="let row">{{ row.produto.descricao }}</td>
      </ng-container>
      <ng-container matColumnDef="tipoMovimentacao">
        <th mat-header-cell *matHeaderCellDef>Tipo de Movimentacao</th>
        <td mat-cell *matCellDef="let row">{{ row.tipoMovimentacao }}</td>
      </ng-container>
      <ng-container matColumnDef="valorDaMovimentacao">
        <th mat-header-cell *matHeaderCellDef>Valor da Movimentação</th>
        <td mat-cell *matCellDef="let row">
          {{ row.valorDaMovimentacao | currency: "BRL" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="dataDaMovimentacao">
        <th mat-header-cell *matHeaderCellDef>Data da Movimentação</th>
        <td mat-cell *matCellDef="let row">
          {{ row.dataDaMovimentacao | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="quantidadeMovimentada">
        <th mat-header-cell *matHeaderCellDef>Quantidade Movimentada</th>
        <td mat-cell *matCellDef="let row">{{ row.quantidadeMovimentada }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</mat-card>
