.sidenav {
  padding: 20px;

  mat-nav-list {
    display: flex;
    flex-direction: column;

    button {
      margin-bottom: 1rem;
    }
  }
}

.sidenav-content {
  padding: 15px;
  background-color: #fff;
  color: rgb(22, 19, 19);
  margin-top: 1.1rem;
}
